{% include "breadcrumbs" %}

<div id="content">

  <div class="view-container">
	  <ng-view class="action-content view-frame"></ng-view>
  </div>
  
  {% if page.tags_count > 0 %}
  <div class="page-tags">
    {% include "page_tags" with page %}
  </div>
  {% endif %}

  {% if page.is_homepage? == true and site.page_tags contains "homepage" %}
    {% tag "homepage" with "homepage_widget" %}
  {% endif %}

  <div class="like-page">
    <strong>Do you like this page?</strong>
    {% include "like_page" %}
  </div>

  {% if page.show_stream? %}
  {% include "page_stream" %}
  {% endif %}

</div>

<!-- Template for actions grid -->
<script type="text/ng-template" id="actions_grid.html">
	<div class="row">
		<div ng-repeat="category in categories"
			 class="action-grid action-category col-sm-4">
		   <a href="#/actions/{[{ category['Name'] }]}">
				<h2>{[{ category['Name'] }]}</h2>
				<p>{[{ category['Short'] }]}</p>
		   </a>
		</div>
		<div class="col-md-12 grid-loading text-center"
				 ng-hide="categories.length">
			<img src="assets/bert-loader-small.gif" alt="Loading ..."  />
		</div>
	</div>
	
	<div class="row padtopmore" ng-show="categories.length">
		<div class="col-md-6">
			<a href="#/" class="">Suggest an action for me</a>
		</div>
	</div>
</script>

<!-- Template for actions list -->
<script type="text/ng-template" id="actions_list.html">
	<a class="go-back pull-right" href="#/actions">Go back</a>
	<h2>{[{ category["Name"] }]}</h2>
	<p class="category-description">{[{ category["Description"] }]}</p>

	<div class="col-md-12 grid-loading text-center"
			 ng-hide="loaded">
		<img src="assets/bert-loader-small.gif" alt="Loading ..."  />
	</div>

	<div class="col-md-12 grid-loading text-center"
			 ng-show="loaded && (actions.length==0)">
		<p class="bg-warning action-notice">Sorry, there are no actions in this category that you can take right now.</p>
	</div>

	<div class="row padtopmore">
	<ul class="action-list">
		<action-list-item ng-repeat="action in actions" action="action" />
	</ul>
	</div>

	<div class="row padtopmore" ng-show="actions.length">
		<div class="col-md-6">
			<a href="#/" class="">Suggest an action for me</a>
		</div>
		<div class="col-md-6">
			<a href="#/actions" class="pull-right">Go back</a>
		</div>
	</div>
</script>

<script type="text/ng-template" id="action_list_item.html">
	<li id="act_{[{ action['Slug'] }]}" ng-click="big = !big"
		 ng-class="{'action-wide' : big}" class="action-item {[{action['class']}]}">
		<h3>{[{ action['Title'] }]}</h3>
		<span class="glyphicon glyphicon-ok pull-right status-icon" aria-hidden="true" ng-show="action.isDone"></span>
		<div ng-show="big">
			<p>{[{ action['Description'] }]}</p>

			  <div ng-click="$event.stopPropagation()">

				  <action-button action='action'/>

				  <div class="form-submit"></div>
			  </div>
      
		</div>
	</li>
</script>

<!-- Template for button -->
<script type="text/ng-template" id="action_button.html">
  <!-- If they're logged in, then the button can tag them and take them straight to the
       action -->
  {% if request.sorta_logged_in? %}

      {% form_for signup %}

	  <input type="hidden" name="signup[optional_tag]" value="{[{ action['start tag'] }]}" />

	  <!-- If they have an email, make it a hidden element so that the button works -->	  
	  {% if request.current_signup.has_email? %}
	  <input id="signup_email" name="signup[email]" type="hidden" value="{{ request.current_signup.email }}" />
	  {% endif %}

	  {% submit_tag "Do this action", class:"pull-right submit-button btn btn-primary" %}

      {% endform_for %}

	  <div class="form-submit"></div>
	  
  <!-- if they're not logged in, then the button will have to launch the login prompt -->
  {% else %}
      <button class="pull-right submit-button btn btn-primary" ng-click="login(action)">Do this action</button>
  {% endif %}
</script>

<!-- Template for actions guide -->
<script type="text/ng-template" id="actions_guide.html">

	<div>
		<h2>{[{ title }]}</h2>
		
		{% if request.sorta_logged_in? %}
		<p>Hi {[{ name_or_email }]},
		 <span class="pull-right">(<a href="/logout?page_id={{ page.id }}" class="">
		 	Not {{ request.current_signup.name_or_email }}?</a>)
		 </span></p>
		{% endif %}

		<p>{[{ description }]}</p>

		<div class="row padbottommore padtopmore grid-loading text-center"
				 ng-hide="loaded">
			<img src="assets/bert-loader-small.gif" alt="Loading ..."  />
		</div>

		<div class="row action-container" ng-if="action">
			<action-list-item ng-repeat="action in [ action ]" action="action" big="true" class="rotate"></action-list-item>
		</div>

		<div class="row action-container" ng-if="finishedAll">
			<div class="col-md-12">
				<div class="bg-info action-notice marginbottom">
					<p style="color: white; margin: 0;">Well done! You've finished all the actions
					<span ng-show="season">for {[{ season['Notice Title'] }]}.</span>
					<span ng-hide="season">that we have to suggest.</span>
					</p>
				</div>
				<p ng-show="season">Why not try something from our <a href="#/">regular actions</a>?</p>
				<p>Browse <a href="#/actions">all of the actions</a>.</p>
			</div>			
		</div>

		<div class="row">
		  <div class="col-sm-4 text-center padbottommore">
			<button class="btn btn-info" ng-click="nextAction()">Suggest another</button>
		  </div>
	
		  <div class="col-sm-4 col-sm-offset-4 text-center">
			<a href="#/actions" class="btn btn-info">See all actions</a>
		  </div>
		</div>
	</div>
</script>

<script type="text/ng-template" id="login_modal.html">
	{% include "action_signup_modal" %}
</script>

<script type="text/javascript">
(function() {
	window.c4c = window.c4c || {};

    // Save the child pages as an object mapping slug to id
	c4c.action_pages = {
    {% for child in page.descendants %}
    	'{{ child.slug }}': '{{ child.id}}',
    {% endfor %}
		};
})();
</script>
