{% include "breadcrumbs" %}



<div id="content">

  <ng-view class="action-content"></ng-view>
  
  {% if page.tags_count > 0 %}
  <div class="page-tags">
    {% include "page_tags" with page %}
  </div>
  {% endif %}

  {% if page.is_homepage? == true and site.page_tags contains "homepage" %}
    {% tag "homepage" with "homepage_widget" %}
  {% endif %}

  <div class="like-page">
    <strong>Do you like this page?</strong>
    {% include "like_page" %}
  </div>

  {% if page.show_stream? %}
  {% include "page_stream" %}
  {% endif %}

</div>

<!-- Template for actions grid -->
<script type="text/ng-template" id="actions_grid.html">
	<div class="row">
		<a ng-repeat="category in categories"
			 class="action-grid action-category col-md-6"
			href="#/actions/{[{ category['Name'] }]}">{[{ category['Name'] }]}</a>
		<div class="row-md-12 grid-loading text-center"
				 ng-hide="categories.length">
			<img src="assets/bert-loader-small.gif" alt="Loading ..."  />
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-6">
			<a href="#/" class="pull-right">Suggest an action for me</a>
		</div>
	</div>
</script>

<!-- Template for actions list -->
<script type="text/ng-template" id="actions_list.html">
	<h2>{[{ category["Name"] }]}</h2>
	<a href="#/" class="pull-right">Go back</a>
	<p>{[{ category["Description"] }]}</p>

	<div class="row">
	<ul class="action-list">
		<action-list-item ng-repeat="action in actions" action="action" />
	</ul>
	</div>

	<div class="row">
		<div class="col-md-6">
			<a href="#/" class="pull-right">Suggest an action for me</a>
		</div>
		<div class="col-md-6">
			<a href="#/actions" class="pull-right">Go back</a>
		</div>
	</div>
</script>

<script type="text/ng-template" id="action_list_item.html">
	<li id="act_{[{ action['Slug'] }]}" ng-click="big = !big"
		 ng-class="{'action-wide' : big}" class="action-item {[{action['class']}]}">
		<h3>{[{ action['Title'] }]}</h3>
		<div ng-show="big">
			<p>{[{ action['Description'] }]}</p>

	  <div ng-click="$event.stopPropagation()">
      {% form_for signup %}

	  <input type="hidden" name="signup[optional_tag]" value="{[{ action['start tag'] }]}" />

	  {% submit_tag "Do this action", class:"pull-right submit-button btn btn-primary" %}

      {% endform_for %}
      </div>
      
		</div>
	</li>
</script>

<!-- Template for actions hint -->
<script type="text/ng-template" id="actions_guide.html">
	<div class="row-md-12 grid-loading text-center"
			 ng-hide="action">
		<img src="assets/bert-loader-small.gif" alt="Loading ..."  />
	</div>

	<div ng-show="action">
		<p>Your suggested action for this week: </p>

		<div class="row">
			<action-list-item action="action" big="true"></action-list-item>
		</div>
	
		<a href="#/actions" class="btn btn-info">See all actions</a>
	</div>
</script>

<script type="text/javascript">
(function() {
	window.c4c = window.c4c || {};

	c4c.demoMode = true;

    // Save the child pages as an object mapping slug to id
	c4c.action_pages = {
    {% for child in page.children %}
    	'{{ child.slug }}': '{{ child.id}}',
    {% endfor %}
		};
})();
</script>
