{% include "breadcrumbs" %}



<div id="content">

  <div class="view-container">
	  <ng-view class="action-content view-frame"></ng-view>
  </div>
  
  {% if page.tags_count > 0 %}
  <div class="page-tags">
    {% include "page_tags" with page %}
  </div>
  {% endif %}

  {% if page.is_homepage? == true and site.page_tags contains "homepage" %}
    {% tag "homepage" with "homepage_widget" %}
  {% endif %}

  <div class="like-page">
    <strong>Do you like this page?</strong>
    {% include "like_page" %}
  </div>

  {% if page.show_stream? %}
  {% include "page_stream" %}
  {% endif %}

</div>

<!-- Template for actions grid -->
<script type="text/ng-template" id="actions_grid.html">
	<div class="row">
		<div ng-repeat="category in categories"
			 class="action-grid action-category col-sm-4">
			<a href="#/actions/{[{ category['Name'] }]}">{[{ category['Name'] }]}</a>
		</div>
		<div class="col-md-12 grid-loading text-center"
				 ng-hide="categories.length">
			<img src="assets/bert-loader-small.gif" alt="Loading ..."  />
		</div>
	</div>
	
	<div class="row padtopmore" ng-show="categories.length">
		<div class="col-md-6">
			<a href="#/" class="">Suggest an action for me</a>
		</div>
	</div>
</script>

<!-- Template for actions list -->
<script type="text/ng-template" id="actions_list.html">
	<div class="col-md-12 grid-loading text-center"
			 ng-hide="actions.length">
		<img src="assets/bert-loader-small.gif" alt="Loading ..."  />
	</div>

	<h2>{[{ category["Name"] }]}</h2>
	<a href="#/actions" class="pull-right">Go back</a>
	<p>{[{ category["Description"] }]}</p>

	<div class="row padtopmore">
	<ul class="action-list">
		<action-list-item ng-repeat="action in actions" action="action" />
	</ul>
	</div>

	<div class="row padtopmore" ng-show="actions.length">
		<div class="col-md-6">
			<a href="#/" class="">Suggest an action for me</a>
		</div>
		<div class="col-md-6">
			<a href="#/actions" class="pull-right">Go back</a>
		</div>
	</div>
</script>

<script type="text/ng-template" id="action_list_item.html">
	<li id="act_{[{ action['Slug'] }]}" ng-click="big = !big"
		 ng-class="{'action-wide' : big}" class="action-item {[{action['class']}]}">
		<h3>{[{ action['Title'] }]}</h3>
		<span class="glyphicon glyphicon-ok pull-right status-icon" aria-hidden="true" ng-show="action.isDone"></span>
		<div ng-show="big">
			<p>{[{ action['Description'] }]}</p>

	  <div ng-click="$event.stopPropagation()">
      {% form_for signup %}

	  <input type="hidden" name="signup[optional_tag]" value="{[{ action['start tag'] }]}" />

	  {% submit_tag "Do this action", class:"pull-right submit-button btn btn-primary" %}

      {% endform_for %}

	  <div class="form-submit"></div>
      </div>
      
		</div>
	</li>
</script>

<!-- Template for actions guide -->
<script type="text/ng-template" id="actions_guide.html">

	<div>
		<p>Your suggested action for this week: </p>

		<div class="row padbottommore padtopmore grid-loading text-center"
				 ng-hide="action">
			<img src="assets/bert-loader-small.gif" alt="Loading ..."  />
		</div>

		<div class="row action-container" ng-if="action">
			<action-list-item ng-repeat="action in [ action ]" action="action" big="true" class="rotate"></action-list-item>
		</div>

		<button class="btn btn-info pull-right" ng-click="nextAction()">Suggest another</button>
	
		<a href="#/actions" class="btn btn-info">See all actions</a>
	</div>
</script>

<script type="text/javascript">
(function() {
	window.c4c = window.c4c || {};

	// Switch this to true if you want to enable showing actions that wouldn't
	// normally show due to errors
	c4c.demoMode = false;

    // Save the child pages as an object mapping slug to id
	c4c.action_pages = {
    {% for child in page.descendants %}
    	'{{ child.slug }}': '{{ child.id}}',
    {% endfor %}
		};
})();
</script>
