{% include "breadcrumbs" %}

{% if request.sorta_logged_in? %}

<p class="inline-score">You have 
  
{% include 'climate_points' %}

  climate action points from the following actions:</p>

	<badges-list for='user' header='false'></badges-list>

<hr/>

{% endif %}

{% if request.sorta_logged_in? %}
<h3>Take more climate action</h3>
{% else %}
<h3>Take climate action</h3>
{% endif %}
<p class="text-center">
<a class="btn btn-primary marginbottom" href="/host">Host a Gathering</a>
<a class="btn btn-primary marginbottom" href="/donate">Donate</a>
<a class="btn btn-primary marginbottom" href="/facilitate">Become a Facilitator</a>
<a class="btn btn-primary marginbottom" href="/actions">Take Action</a>
</p>

<hr/>

<div id="content">

  {% if page.leaderboard.content.size > 0 %}
  <div id="intro" class="intro">
    {{ page.leaderboard.content }}
  </div>
  {% endif %}

  {% for leaderboard in page.page_leaderboards %}

  <div class="leaderboard{% if forloop.last %} last{% endif %}">

    {% if leaderboard.has_goal? %}
    {% assign thermo_width = 100 %}
    <div class="clearfix">
      <div class="progress" style="width: {{ thermo_width }}%;">
        <div class="bar progress-bar" role="progressbar" style="width: {{ leaderboard.percent_of_goal | times:100 }}%;">
          <div class="bar-text">{{ leaderboard.total }} {{ leaderboard.goal_name_short }}</div>
        </div>
      </div>

      <div class="bar-goal">{{ leaderboard.goal }} {{ leaderboard.goal_name }}</div>
    </div>

    {% endif %}

    {% if leaderboard.display_number_results > 0 %}

    <h4>Top {{ leaderboard.display_number_results }} {{ leaderboard.display_name }}</h4>

    {% for entry in leaderboard.entries %}
    <div class="people-list media {% cycle 'odd', 'even' %} {% if entry.signup.id == request.current_signup.id %}users-rank{% endif %}">
      <div class="people-list-rank">
        <span class="leaderboard-rank label label-default">{{ entry.position }}</span>        
      </div>
      <div class="people-list-pic media-left">{{ entry.signup.bigger_profile_image }} </div>
      <div class="media-body">
		<div class="people-name">{{ entry.signup.published_name_linked }}</div>
      </div>
      <div class="people-list-score">
        {{ entry.total | remove:'+' }} 
      </div>
    </div>
    {% endfor %}

    {% endif %}

  </div>

  {% endfor %}

  <div class="like-page">
    <strong>Do you like this?</strong>
    {% include "like_page" %}
  </div>
</div>

{% include 'badge_templates' %}
