.action-content {
	margin-top: -15px;
}

.action-grid.action-category {
	background-color: $denim;
	height: 200px;
	text-align: center;
	vertical-align: middle;
	font-size: 1.5em;
	text-transform: uppercase;
	color: #FFF;
	text-decoration: none;
	border: black 1px solid;
    display: table;
    table-layout: fixed;
}

.action-category a {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #FFF;	
}

@media (max-width: 768px) { 
	.action-grid.action-category {
		margin: 0 10%;
		width: 80%;
		height: 100px;
    }
}

.plain-link-button {
	background: none;
    border: none;
    display: inline;
    font: inherit;
    margin: 0;
    padding: 0;
    outline: none;
    outline-offset: 0;
    
    /* Additional styles to look like a link */
    color: $link-color;
    cursor: pointer;
    text-decoration: none;
    
    &:hover, &:focus {
		text-decoration: underline;
	}
}

.hint-form {
	margin-top: 20px;
}

ul.action-list {
	margin-left: 0;
	padding-left: 0;
}

li.action-item {
	list-style: none;
	width: 30%;
	margin-left: 1%;
	margin-right: 2%;
    display: table;
    background: #ADD8E6;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    float: left;
    height: 100px;
}

li.action-item.action-wide {
    width: 96%;
    height: auto;
}

li.action-item.action-wide p {
	white-space: pre-wrap;
}

.action-item h3 {
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
    display: table-cell;
    vertical-align: middle;
}

.action-item.action-wide h3 {
    display: inline;
	font-size: 23px;
    line-height: 2em;
}

.glyphicon-ok.status-icon {
	color: #0e5faa;
}

.step-title {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: none;
	padding-left: 1em;
    text-indent: -1em;
}

.toggle-collapse,
.step-heading {
	cursor: pointer;
}

.toggle-collapse.panel-heading h3:after,
.step-heading h3:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";
    float: right;
}

.toggle-collapse.panel-heading.collapsed h3:after,
.step-heading.collapsed h3:after {
    /* symbol for "collapsed" panels */
    content: "\e080";
}

.kt-steps table,
.action-steps table {
	td, th {
		border: 1px solid lightgray;
		vertical-align: top;
		padding: 4px;
	}
}

.panel-icon .panel-heading {
	text-transform: none;
}

.panel-no-transform.panel-heading {
	text-transform: none;
}

.panel-icon .panel-body p {
    padding-left: 110px;
}

.padrightmore {
	padding-right: $line-height-computed * .75;
}

.padright {
	padding-right: $line-height-computed * .5;
}

.kt-steps table h3 {
    font-size: 18px;
}