.action-content {
	margin-top: -15px;
}

.action-grid.action-category {
	background-color: $denim;
	height: 200px;
	text-align: center;
	vertical-align: middle;
	padding-top: 90px;
	font-size: 1.5em;
	text-transform: uppercase;
	color: #FFF;
	text-decoration: none;
	border: black 1px solid;
}

.plain-link-button {
	background: none;
    border: none;
    display: inline;
    font: inherit;
    margin: 0;
    padding: 0;
    outline: none;
    outline-offset: 0;
    
    /* Additional styles to look like a link */
    color: $link-color;
    cursor: pointer;
    text-decoration: none;
    
    &:hover, &:focus {
		text-decoration: underline;
	}
}

.hint-form {
	margin-top: 20px;
}

ul.action-list {
	margin-left: 0;
	padding-left: 0;
}

li.action-item {
	list-style: none;
	width: 30%;
	margin-left: 1%;
	margin-right: 2%;
    display: table;
    background: #ADD8E6;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    float: left;
    height: 100px;
}

li.action-item.action-wide {
    width: 96%;
    height: auto;
}

.action-item h3 {
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
    display: table-cell;
    vertical-align: middle;
}

.action-item.action-wide h3 {
    display: inline;
}