/* cross fade hide and show */

.crossfade.ng-hide {
  opacity: 0;
}

.crossfade.ng-hide-remove,
.crossfade.ng-hide-add {
  display: block !important;
}

.crossfade.ng-hide-remove {
  transition: all linear 500ms;
}

.crossfade.ng-hide-add {
  transition: all linear 500ms;
  position: absolute;
}

/* cross fading between routes with ngView */

.view-container {
  position: relative;
}

.view-frame.ng-leave {
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.view-frame.ng-enter {
  -webkit-animation: 0.5s fade-in;
  -moz-animation: 0.5s fade-in;
  -o-animation: 0.5s fade-in;
  animation: 0.5s fade-in;
  z-index: 100;
}

.view-frame.ng-leave {
  -webkit-animation: 0.5s fade-out;
  -moz-animation: 0.5s fade-out;
  -o-animation: 0.5s fade-out;
  animation: 0.5s fade-out;
  z-index: 99;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-moz-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-webkit-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-moz-keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-webkit-keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}

/**** Rotate animation for selecting next action ****/
/* Moving to the NEXT item. */

.action-container {
	position: relative;
	min-height: 280px;
}

@media (max-width: 768px) { 
	.action-container {
		min-height: 400px;
	}
}


.rotate.ng-enter,
.rotate.ng-leave {
	position: absolute; 
}

.rotate.ng-enter {
	left: 200px ;
	right: -200px ;
	opacity: 0 ;
	transition: all 0.5s ease ;
	z-index: 2 ;
}

.rotate.ng-enter-active {
	left: 0px ;
	right: 0px;
	opacity: 1.0 ;
}

.rotate.ng-leave {
	left: 0px ;
	right: 0px;
	opacity: 1.0 ;
	transition: all 0.5s ease ;
}

.rotate.ng-leave-active {
	left: -200px ;
	right: 200px ;
	opacity: 0 ;
}

