<!-- Template for actions reminder -->
<script type="text/ng-template" id="actions_reminder.html">

<section id="reminder" ng-show="show">
  <div class="container">
	<div class="row">
	  <div class="col-md-8 col-md-offset-2">
   		<div class="well">
   		  <action-season ng-show="show=='season'"></action-season>
   		  <action-unfinished ng-if="show=='unfinished'"></action-unfinished>   		
		</div>
	  </div>
	</div>
  </div> 
</section>

</script>

<!-- Template for unfinished actions -->
<script type="text/ng-template" id="action_season.html">
		<h3>{[{ season["Notice Title"] }]}</h3>
		<p>{[{ season["Notice"] }]}</p>
		<p><a href="/actions#/season/{[{ season['Slug'] }]}" class="btn btn-sm btn-primary">Yes, I want to take more action!</a></p>
</script>

<!-- Template for unfinished actions -->
<script type="text/ng-template" id="action_unfinished.html">
		
		<h3>Finish Taking Action</h3>
		<p>You started taking action to <strong>{[{ action['Title'] }]}</strong>, but you didn't finish.</p>
		<p>Would you like to finish that action?</p>

		<p class="text-right">
		<button data-target="#reminder_fail" data-toggle="collapse" class="btn btn-none btn-xs ">I can't finish</button>

		<a href="/{[{ action['page slug'] }]}" class="btn btn-primary btn-xs">Finish the Action</a>
		</p>

	<div id="reminder_fail" class="collapse fail_form" ng-controller="ActionFailForm">
	  <!-- Fail form -->
      {% form_for signup %}

      <div class="row">
        <div class="col-md-12"><div class="form-group">
      	<p>Sorry to hear you had some trouble with this action. Could you give us some feedback so we can improve it?</p>
		<textarea class="textarea form-control" id="signup_custom_values_action_problem_custom" name="signup[custom_values][action_problem]" style="height: 10em;"></textarea>
        </div>
        </div>
      </div>

      <div class="form-errors">{% error_messages_for signup %}</div>

	  <input type="hidden" name="signup[optional_tag]" value="{[{ fail_tag }]}" />

      {% submit_tag "Send Feedback", class:"submit-button btn btn-primary" %}
      <div class="form-submit"></div>

      {% endform_for %}

		</div>
		</div>
</script>