.directory-tile {
  padding-bottom: 6rem;

  img {
    width: 100%;
  }

  a {
    &:hover {
      text-decoration: none;
    }
  }
}

.content-profiles-show {
  img {
    width: 100%;
  }

  a {
    &:hover {
      text-decoration: none;
    }
  }
}