{% include "breadcrumbs" %}

<!-- FIXME: Change the share text, add the badge to the welcome message -->

<div id="content">

{% assign tags_list = "" %}
{% for tag in page.tags %}
        {% assign tags_list = tag.name | append: ", " | append: tags_list %}
{% endfor %}

  {% if page.signup.content.size > 0 %}
	  {% if tags_list contains "action" %}

	  {% if page.show_social_slider? and page.public_activities_count > 0 %}
	  {% include "social_slider" %}
	  {% endif %}

	  <div action-steps id="intro" class="intro action-steps">
		{{ page.signup.content }}
	  </div>
	  {% elsif tags_list contains "kt-intro" %}
	  <div action-steps id="intro" class="intro kt-steps">
		{{ page.signup.content }}
	  </div>
	  {% elsif tags_list contains "kt" %}
	  {% if page.show_social_slider? and page.public_activities_count > 0 %}
	  {% include "social_slider" %}
	  {% endif %}

	  <div action-steps id="intro" class="intro kt-steps">
		{{ page.signup.content }}
	  </div>
	  {% else %}
	  <div id="intro" class="intro">
		{{ page.signup.content }}
	  </div>

	  {% if page.show_social_slider? and page.public_activities_count > 0 %}
	  {% include "social_slider" %}
	  {% endif %}

	  {% endif %}
  {% endif %}

  {% if tags_list contains "action" %}
	  {% include "actions_form" %}
  {% elsif tags_list contains "kt-intro" %}
  	   <!-- no signup form at end -->
  {% elsif tags_list contains "kt" %}
	  {% include "kt_form" %}
  {% else %}
	  {% include "signup_form2" %}
  {% endif %}

</div>

  <div class="like-page">
    <strong>Like us to spread the word</strong>
    {% include "like_page" %}
  </div>

  {% if page.show_stream? %}
  {% include "page_stream" %}
  {% endif %}

<script type="text/javascript">
$(function () {
    $('#steps').on('shown.bs.collapse', function (e) {
        var offset = $(this).find('.collapse.in').prev('.panel-heading');
        if(offset) {
            $('html,body').animate({
                scrollTop: $(offset).offset().top -20
            }, 500); 
        }
    }); 
});
</script>