
<div class="row">
  <div class="col-sm-12 col-md-4 profile-info">
    <a href="{{ profile.full_profile_url }}" class="directory-photo">
      {% if profile.has_facebook_info? %}
      <img src="http://graph.facebook.com/{{ profile.facebook_uid }}/picture?width=300&height=300" alt="Photo: {{ profile.published_name }}" class="img-rounded">
      {% else %}
      <img src="{{ profile.profile_image_url }}" alt="Profile Photo" class="img-rounded">{% endif %}</a>
    <h4>{{ profile.published_name }}</h4>
    <p>{{ profile.occupation }}</p>
    {% unless profile.tag_list contains "hide contact info" %}
    <ul class="list-inline">
      {% comment %} <!-- Don't Show email ever! -->
       {% unless profile.tag_list contains "hide email" %}
      {% if profile.has_email? %}
      <li>
        <a href="mailto:{{ profile.email }}" title="Email {{ request.current_profile.email }}" class="ss-icon ss-social-regular ss-mail"></a>
      </li>
      {% else %}
      <li>
        <span class="ss-icon ss-social-regular ss-mail silver"></span>
      </li>
      {% endif %}
      {% endunless %} {% endcomment %}
          {% comment %}{% if profile.has_facebook_info? %}
      <li>
        <a href="{{ profile.facebook_profile_url }}" title="{{ profile.full_name_or_friend}} on Facebook" class="ss-icon ss-social-regular ss-facebook facebook"></a>
      </li>
      {% else %}
      <li>
        <span class="ss-icon ss-social-regular ss-facebook silver"></span>
      </li>
      {% endif %}{% endcomment %}
          {% if profile.has_twitter_info? %}
      <li>
        <a href="{{ profile.twitter_profile_url }}" title="@{{ profile.twitter_login }} on Twitter" class="ss-icon ss-social-regular ss-twitter twitter"></a>
      </li>
      {% else %}
      <li>
        <span class="ss-icon ss-social-regular ss-twitter silver"></span>
      </li>
      {% endif %}
    </ul>
    {% endunless %}

    {% if site.has_button1? or site.has_button2? or site.has_button3? %}
    <div class="btn-group-vertical btn-block" role="group">
      {% if site.has_button1? %}
      <a class="btn btn-default supporter-nav-btn" href="{{ site.button1_page.full_url_with_profile_recruiter }}">{{ site.button1_text }}</a>
      {% endif %}

  {% if site.has_button2? %}
      <a class="btn btn-default supporter-nav-btn" href="{{ site.button2_page.full_url_with_profile_recruiter }}">{{ site.button2_text }}</a>
      {% endif %}

  {% if site.has_button3? %}
      <a class="btn btn-default supporter-nav-btn" href="{{ site.button3_page.full_url_with_profile_recruiter }}">{{ site.button3_text }}</a>
      {% endif %}
    </div>
    {% endif %}
  </div>
  <div class="col-sm-12 col-md-8">
    {% if profile.profile_headline.size > 0 %}
    <h2 class="headline">{{ profile.profile_headline }}</h2>
    {% endif %}

    {% if profile.profile_content.size > 0 %}
    <div id="intro" class="intro">{{ profile.profile_content }}</div>
    {% else %}
		{% if profile.bio.size > 0 %}
		<p>{{ profile.bio }}</p>
		{% endif %}
	{% endif %}

	{% assign tags_list = "" %}
	{% for tag in profile.tags %}
			{% assign tags_list = tag | append: ", " | append: tags_list %}
	{% endfor %}

	{% if tags_list contains "facilitator" %}
	    {% unless tags_list contains "Board" %}
			<p>{{ profile.first_name}} is a facilitator with Climate for Change.</p>
			<p>Have you been a part of a gathering conducted by {{ profile.first_name}} and would like to donate?</p>
			<a href="/donate_in_gathering?recruiter_id={{ profile.id }}" class="btn btn-default">Make a Donation during a Gathering</a>
		{% endunless %}
	{% endif %}

    {% if profile.has_fundraising_goal? %}
    {% assign thermo_width = 100 %}
    <div class="clearfix">
      <h4 class="bar-goal">
        {{ profile.first_name }} has helped raise {{ profile.donations_raised_amount_format }} for Climate for Change!
        <br>
        <small>
          Goal: {{ profile.donations_to_raise_amount_format }}
        </small>
      </h4>
      <div class="progress" style="width: {{ thermo_width }}%;">
        <div class="bar progress-bar" role="progressbar" style="min-width:2em; width: {{ profile.percent_of_fundraising_goal | times:100 }}%;"></div>
      </div>
    </div>
    {% endif %}

	<badges-list></badges-list>
	
    {% comment %}<p class="uppercase">
      <a href="/our_people"> <strong><span class="ss-icon ss-standard ss-navigateleft" style="padding-right: 5px; font-size: .8em;"></span>
          See the Full Team</strong>
      </a>
    </p>{% endcomment %}
  </div>
</div>

<!-- Template for badge list -->
<script type="text/ng-template" id="badges_list.html">
	<div ng-show="showBadges" class="badges">
	  <h4 class="padtopmore">Action Taken</h4>
	  <p>{{ profile.first_name }} has taken the following actions:</p>

		<badge-season ng-repeat="season in badges"></badge-season>
	</div>
</script>

<!-- Template for badges list -->
<script type="text/ng-template" id="badge_season.html">
	<h5 class="padtopmore" style="margin-bottom: 0"><a href="{[{ '/' + season['pageSlug'] }]}">{[{ season['Badge Title'] }]}</a></h5>
	<p style="font-size: 1.2em;">
		<a class="label label-success" href="{[{ '/' + badge['pageSlug'] }]}" ng-repeat="badge in season.badges">{[{ badge['badgeName'] }]}</a>
	</p>
</script>

<script type="text/javascript">
(function() {
	window.c4c = window.c4c || {};
	
	window.c4c.profile_tags = '{{ request.current_profile.tags }}'.split(', ');

    // Save the child pages as an object mapping slug to id
	window.c4c.action_pages = {
    {% for child in page.descendants %}
    	'{{ child.slug }}': '{{ child.id}}',
    {% endfor %}
		};

})();
</script>